<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="embla">
        <div class="embla__container">
          <div class="embla__slide">
            <img src="../images/behind_the_lens.jpg" alt="">
          </div>
          <div class="embla__slide">
            <img src="../images/bidrs_formation.jpg" alt="">
          </div>
          <div class="embla__slide">
            <img src="../images/cloud_sky.jpg" alt="">
          </div>
        </div>
      </div>
      
</body>
</html>